<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>🌴Florida Nomads🌴</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
   
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h2>
        {{!-- <span role="img" aria-label="money">🌴</span> --}}
        <a href="/" id="moveThisRight">Home</a>
      </h2>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a id="login-button" href="/profile">Profile</a> |
        <a href="/recentTravels"> Recent Travels!</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a id="login-here-now" href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
     
     
     
     <nav>
        <!-- Conditionally render sign in or logout links -->
        {{#if signup}}
        <a id="signup-button" href="/profile">Profile</a> |
        <a href="/recentTravels"> Recent Travels!</a> |
        <button class="no-button" id="signup">Logout</button>
        {{else}}
        <a id="sign-up-here" href="/signup">Sign Up</a>
        {{/if}}
      </nav>
    
    
    
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
    <h1></h1>
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
