<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Destinations</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <main>
      <section id="orlando-here">
        <h1>Welcome to Orlando</h1>
      </section>
      <section class="feature">
        {{!-- <img src="" alt="Theme Parks"> --}}
        <div>
          <h2>Theme Parks Galore</h2>
          <p>Orlando is home to some of the world's best theme parks, including Walt Disney World, Universal Orlando, and SeaWorld. Spend your days riding roller coasters, meeting your favorite characters, and enjoying live shows and entertainment.</p>
        </div>
      </section>
      <section id="golf-here">
        {{!-- <img src="" alt="Golf Courses"> --}}
        <div>
          <h2>World-Class Golfing</h2>
          <p>Orlando is a golfer's paradise, with dozens of world-class courses designed by some of the biggest names in the sport. Whether you're a seasoned pro or a beginner, you'll find plenty of opportunities to hit the links and enjoy the beautiful Florida weather.</p>
        </div>
      </section>
      <section id="keywest-here">
        {{!-- <img src="" alt="Shopping"> --}}
        <div>
          <h2>Key West</h2>
          <p>Escape to the laid-back atmosphere of Key West for a relaxing vacation.</p>
        </div>
      </section>
    </main>
  </body>
</html>
