{{!-- Add travel / Trip --}}

<div class="row">
  <div class="col-auto">
    <h2>Welcome Nomad {{name}}!</h2>
    </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Where did you travel?:</h3>
{{!-- Projects will serve as destinations for now, so I dont break anything will coding this --}}
    <form action="/api/projects/upload" method="POST" enctype="multipart/form-data" class="form new-project-form">
      <div class="form-group">
        <label for="project-name"> Nomad Destination:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      {{!-- div for rating, maybe insert star click system, instead of text box--}}
      <div class="form-group">  
        <label for="project-funding">Nomad Rating: ⭐⭐⭐⭐</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div>
      <div class="form-group">
        <label for="project-desc">Nomad Description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      {{!-- code for upload image button that plays a gif simulating uploading an image, doesnt wrk w multer, see if i can fix or just remove play gif here? --}}
      {{!-- class pointsColor is just plain green points, class colorCycle is looping colors, can use either --}}
      <div class="form-group">
        <button type="submit" id="pointsystem" class="btn btn-primary">Save Experience <span class ="pointsColor"> (20 Points) </span> </button> 
        <button class="btn btn-primary", onclick="playGif()">Upload A Photo <span class ="colorCycle">(50 Points) </span> </button>
         <input type="file" name ="IMAGE" />  
            <div id="gif-container" style="display: none;">
              <img src="/assets/upload.gif" alt="Animated GIF uploading progress"> 
            </div>
        
      </div>
    </form>
  </div>


<script src="./js/recentTravels.js"></script>
