<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1 id="first-sign">Sign Up</h1>
	<form>
		<label id="name-sign-first" for="username">Name:</label><br>
		<input type="text" id="name"{{name}}><br>

		<label id="email-sign" for="email">Email:</label><br>
		<input type="email" id="email"{{email}}><br>

		<label id="password-sign" for="password">Password:</label><br>
		<input type="password" id="password"{{password}}><br>

		<input class="signup-form" id="sign-up-button-main" type="submit" value="Sign Up">
	</form>
</body>
</html>


<script src="./js/signup.js"></script>