header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
  background: url("../assets/headerbus7.jpg");
  /* background-size:100vmin, 100vw;  */
  /* background-size:130cqmin; */
  background-size:cover;
  background-repeat: no-repeat;
 
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

footer {
 /* background transparent footer, min height and width to make it show wo content */
  background: url("../assets/footerbus1.png"); 
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 250px; 
    min-width: 500px;
}

