header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
  background: url("../assets/headerbus7.jpg");
  /* background-size:100vmin, 100vw;  */
  /* background-size:130cqmin; */
  background-size:cover;
  background-repeat: no-repeat;
  
 
}
/* moves the home button off of the bus to the right */
#moveThisRight {
  float: left;
  margin-left: 140%;
  
}
/* nav bar css */
nav {
  font-size: 2rem !important;
  font-weight: bolder;

}
/* color gradient for area between header and footer */
body {
background: rgb(0,178,251);
background: linear-gradient(184deg, rgba(0,178,251,1) 3%, rgba(9,64,121,0.6587009803921569) 48%, rgba(0,212,255,1) 100%);
}
.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

footer {
 /* background transparent footer, min height and width to make it show wo content */
  background: url("../assets/footerbus1.png"); 
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 250px; 
    min-width: 500px;
}

